.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.sidebar-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}